[Unit]
Description=Minecraft Velocity Proxy
Requires=@APP_NAME@-tailscale.service
After=@APP_NAME@-tailscale.service

[Container]
Image=docker.io/itzg/mc-proxy:latest
Environment=TYPE=VELOCITY
Environment=MEMORY=512M
Environment=SYNC_SKIP_NEWER_IN_DESTINATION=false
Environment=REPLACE_ENV_VARIABLES=true

Environment=MINECRAFT_VERSION=26.1.1
Environment=MODRINTH_PROJECTS=viaversion,viabackwards,viarewind

Volume=%h/.config/velocity/velocity.toml:/config/velocity.toml:ro
Volume=@FORWARDING_SECRET_PATH@:/config/forwarding.secret:ro
Volume=mc-velocity_server:/server:Z

Network=@APP_NAME@-tailscale.container

PodmanArgs=--replace

[Install]
WantedBy=default.target
