[Unit]
Description=Minecraft Velocity Proxy

[Container]
Image=docker.io/itzg/mc-proxy:latest
Environment=TYPE=VELOCITY
Environment=MEMORY=512M
Environment=SYNC_SKIP_NEWER_IN_DESTINATION=false
Environment=REPLACE_ENV_VARIABLES=true

Volume=%h/.config/velocity/velocity.toml:/config/velocity.toml:ro
Volume=@FORWARDING_SECRET_PATH@:/config/forwarding.secret:ro
Volume=mc-velocity_server:/server:Z

Network=cluster.network
DNS=100.100.100.100
DNS=1.1.1.1
DNSSearch=ts.home.arpa

PublishPort=25565:25565/tcp
PublishPort=19132:19132/udp
PublishPort=24454:24454/udp

PodmanArgs=--replace

[Install]
WantedBy=default.target
