[Unit]
Description=Tailscale Sidecar for Velocity Ingress

[Container]
Image=docker.io/tailscale/tailscale:latest
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Environment=TS_USERSPACE=false
Environment=TS_EXTRA_ARGS=--login-server=https://headscale.oriom.dev --hostname=mc-velocity
Volume=%h/.local/share/mc-velocity/tailscale:/var/lib/tailscale:Z
Network=cluster.network

PublishPort=25565:25565/tcp
PublishPort=19132:19132/udp
PublishPort=24454:24454/udp

[Install]
WantedBy=default.target
