[Unit]
Description=Minecraft Whitelist CockroachDB
Requires=mc-whitelist-db-tailscale.service
After=mc-whitelist-db-tailscale.service

[Container]
Image=docker.io/cockroachdb/cockroach:v25.3.3
Exec=/entrypoint.sh
EnvironmentFile=@SECRETS_PATH@
Volume=%h/.config/containers/mc-whitelist-db/entrypoint.sh:/entrypoint.sh:ro
Volume=mc-whitelist-db_data:/cockroach/cockroach-data:Z
Network=mc-whitelist-db-tailscale.container
PodmanArgs=--entrypoint=/bin/sh --replace

[Install]
WantedBy=default.target
