[Unit]
Description=Tailscale Sidecar for mc-whitelist-db

[Container]
Image=docker.io/tailscale/tailscale:latest
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Environment=TS_USERSPACE=false
Environment=TS_HOSTNAME=mc-whitelist-db
Environment=TS_AUTH_ONCE=true
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_EXTRA_ARGS=--login-server=@TS_LOGIN_SERVER@
Environment=TS_ACCEPT_DNS=true
EnvironmentFile=@TS_SECRET_PATH@

Volume=mc-whitelist-db_tailscale:/var/lib/tailscale:Z

PodmanArgs=--replace

[Install]
WantedBy=default.target
