[Unit]
Description=Headscale Control Plane

[Container]
Image=docker.io/headscale/headscale:latest
Exec=serve
Volume=%h/.config/headscale/config.yaml:/etc/headscale/config.yaml:Z
Volume=%h/.local/share/headscale:/var/lib/headscale:Z
Network=cluster.network
NetworkAlias=headscale
PodmanArgs=--replace

[Install]
WantedBy=default.target
