DB_URL=postgresql://root@mc-whitelist-db.ts.home.arpa:26258/defaultdb?sslmode=verify-full&sslrootcert=/certs/mc-whitelist-db/ca.crt&sslcert=/certs/mc-whitelist-db/client.root.crt&sslkey=/certs/mc-whitelist-db/client.root.key
PUBLIC_BASE_URL=https://mc.oriom.dev
BETTER_AUTH_URL=https://mc.oriom.dev
BETTER_AUTH_SECRET=replace-with-long-random-secret
GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
ADMIN_EMAIL_ALLOWLIST=admin1@example.com,admin2@example.com
AUTHZ_API_TOKEN=replace-with-shared-velocity-token
