{
    servers {
        protocols h1 h2 h3
    }
}

headscale.oriom.dev {
    reverse_proxy systemd-headscale:8080
}

hello.oriom.dev {
    reverse_proxy systemd-hello-world:3000
}

jpost.oriom.dev {
    reverse_proxy systemd-jpost-api:8080
}
