{
    servers {
        protocols h1 h2 h3
    }
}

headscale.oriom.dev {
    reverse_proxy systemd-headscale:8080
}

hello.oriom.dev {
    reverse_proxy systemd-hello-world-tailscale:3000
}

jpost.oriom.dev {
    reverse_proxy systemd-jpost-api-tailscale:8080
}

mc.oriom.dev {
    reverse_proxy mc-whitelist-auth:8787
}
