[Unit]
Description=Caddy Reverse Proxy

[Container]
Image=docker.io/library/caddy:latest
Volume=%h/.config/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy_data:/data
Volume=caddy_config:/config

Network=cluster.network
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp

PodmanArgs=--replace

[Install]
WantedBy=default.target
