{
    servers {
        protocols h1 h2 h3
    }
}

headscale.oriom.dev {
    reverse_proxy systemd-headscale:8080
}

hello.oriom.dev {
    reverse_proxy systemd-hello-world-tailscale:3000
}

jpost.oriom.dev {
    reverse_proxy systemd-jpost-api-tailscale:8080
}

mc.oriom.dev {
    @internal_api path /api/v1/*
    respond @internal_api "Forbidden" 403

    reverse_proxy systemd-mc-whitelist-auth-tailscale:3000
}
