[Unit]
Description=Tailscale Sidecar for Caddy Ingress

[Container]
Image=docker.io/tailscale/tailscale:latest
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Environment=TS_USERSPACE=false
Environment=TS_HOSTNAME=caddy-ingress
Environment=TS_EXTRA_ARGS=--login-server=@TS_LOGIN_SERVER@
Environment=TS_AUTH_ONCE=true
EnvironmentFile=@TS_SECRET_PATH@
Volume=%h/.local/share/caddy/tailscale:/var/lib/tailscale:Z
# Headscaleと通信するための基盤ネットワーク
Network=cluster.network
PodmanArgs=--replace

# ホスト(VPS)のWebポートを公開 (デュアルスタック対応)
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp

[Install]
WantedBy=default.target
